<head>
	<title>My Flask Project</title>
	<link rel="icon" type="image/png" href="static/favicon.png">
	<link rel="stylesheet" type="text/css" href="static/css/site.css">
	<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<div class="app_title"><img src="static/images/logo.png" height=50px> Flask Project </div>
<div class="app_description">If you have a dream, don't waste your energies explaining why!</div>
<hr>
<a href="/" class="menuitem">[About me]</a> 
<a href="contact" class="menuitem">[Contacts]</a> 
<a href="/" class="menuitem">[Guestbook]</a> 
<a href="/" class="menuitem">[Art Gallery]</a> 
<a href="/" class="menuitem">[Publishes]</a> 
<a href="/" class="menuitem">[Library]</a> 
<a href="/" class="menuitem">[Camera Project]</a> 
<a href="/" class="menuitem">[Mobile Network]</a> 
<a href="http://github.com/pangan" class="menuitem">[My git]</a> 
<a href="http://wiki.mofakhar.info" class="menuitem">[My WiKi]</a> 
<a href="admin" class="menuitem">[Admin]</a> 
<a href="logout" class="menuitem">[Logout]</a>
<hr>