<head>
	<title>My Flask Project</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="static/css/site.css">
	<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<div class="app_title"><img src="static/images/logo.png" height=50px> Flask Project </div>
<div class="app_description">If you have a dream, don't waste your energies explaining why!</div>
<hr>

{% for caption, href in menuitems() %}
    <a href="{{ href }}" class="menuitem">[{{ caption }}]</a>
{% endfor %}
<hr>